body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #333;
}

header {
    background-color: #333;
    color: #FFB81C;
    text-align: center;
    padding: 1em;
    border-radius: 20px;
    
}
div.container{
    display: flex;
    
  }

section.site-column{
    padding: 1em;
}
section.site-top{
    flex: 1;
    background-color: #FFB81C;
    border-radius: 20px;
  }
section.site-center{
    flex: 1;
    background-color: #eee;
    border-radius: 10px;
    border-color: #FFB81C;
    border-style:ridge;

  }
section.site-left{
    flex-basis: 240px;
    background-color: #eee;
    border-radius: 10px;
    border-color: #FFB81C;
    border-style:ridge;
  }
  section.site-right{
    flex-basis: 200px;
    background-color: #eee;
    border-radius: 10px;
    border-color: #FFB81C;
    border-style:ridge;
    
  }
section {
    margin: 20px;
}

h2 {
    color: #333;
}

p {
    line-height: 1.5;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1em;
    position: fixed;
    bottom: 0;
    width: 100%;
}
